<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ics.operator.mypage.OperatorMypageMapper">
	
	<select id="getMyCompanyInfo" parameterType="Integer" resultType="ics.operator.mypage.dto.MyCompanyInfoResDTO">
	<![CDATA[
		select 
			  company.company_name as 'companyName'
			, company.company_email as 'companyEmail'
			, company.company_phone as 'companyPhone'
			, company.company_address as 'companyAddress'
			, ifnull(company.president_name,'') as 'companyPresidentName'
			, ifnull(company.company_url, '') as 'companyUrl'
			, ifnull(company.company_regist_number, '') as 'companyRegistNumber'			
		from 
			company
		where
				company.use_yn = 'Y'
			and company.idx = #{companyIdx}
	]]>
	</select>
	
	
	<select id="getMyMemberList" parameterType="Integer" resultType="ics.operator.mypage.dto.MyMeberListResDTO">
	<![CDATA[
		select 
			  member.idx as 'memberIdx'
			, member.member_id as 'memberId'
			, ifnull(member.dept_name, '') as 'memberDeptName'
			, member.member_name as 'memberName'
			, ifnull(member.rank, '') as 'memberRank'
			, date_format(member.create_date, '%Y-%m-%d %H:%i:%s') as 'memberCreateDate'
			, ifnull(member.member_email, '') as 'memberEmail'
			, ifnull(member.member_tel, '') as 'memberTel'
		from member 
		where 
			member.company_idx = #{companyIdx}
			and member.use_yn = 'Y'
			and member.member_approval_status = 'Y'
			
	]]>
	</select>
	
	<update id="companyModProc" parameterType="ics.operator.mypage.dto.CompanyModReqDTO">
	<![CDATA[
		update
			company
		set
			  company_name = #{companyName}
			, company_email = #{companyEmail}
			, company_phone = #{companyPhone}
			, company_address = #{companyAddress}
			, company_url = #{companyUrl}
			, company_regist_number = #{companyRegistNumber}
			, president_name = #{companyPresidentName}
			, modifier = #{modifier}
			, modify_date = now()
		where
			company.idx = #{companyIdx}
	]]>
	</update>	
	
</mapper>