@import 'mixin';

$root: '/resources/publish/';

$blue: #009cde;
$dark-blue: #096eb2;
$light-blue: #d9e8f3;
$navy: #002664;
$white: #fff;
$black: #000;
$light-gray: #eee;
$dark-gray: #707070;
$gray: #7f7f7f;
$red: #ff0000;
$green: #64a70b;
$orange: #ff671f;

//font-size
$fl: 16px;
$fn: 14px;
$fs: 12px;

//font-weight
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

//margin
$mxs: 5px;
$ms: 10px;
$mn: 15px;
$ml: 20px;
$mxl: 30px;
