@import 'variables', 'mixin';

#sensorList {
  display: grid;
  grid-template-columns: 355px 673px 673px;
  grid-template-rows: 810px;
  gap: 10px;
  &.member {
    display: grid;
    grid-template-columns: 673px 1037px;
    grid-template-rows: 810px;
    gap: 10px;
  }
}

.member-list {
  height: 700px;
}
.card {
  h3 {
    padding: $ms;
    font-weight: $bold;
    font-size: $fn;
    margin-bottom: $ms;
  }
  .flex-between {
    margin-bottom: $ms;
    h3 {
      margin-bottom: 0;
    }
    .select {
      width: 133px;
    }
  }
}

.sensor-detail-info {
  position: relative;
  height: 380px;
  > ul {
    padding: 10px;
    li {
      border-radius: 5px;
      background: rgba($color: $light-gray, $alpha: 0.5);
      @include flex;
      height: 58px;
      padding: 0 30px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      div {
        font-size: $fs;
        color: $gray;
        &:first-child {
          font-size: $fn;
          font-weight: $medium;
          color: $black;
        }
      }
    }
  }
  .pagination {
    bottom: 10px;
  }
}

.sensor-detail-chart {
  padding: 0 10px;
  .chart-wrap {
    width: 100%;
    height: 286px;
  }
}

.operator-sensor-detail {
  @include flex(space-between, flex-start);
  height: 730px;
  padding: 10px;
  .sensor-detail-info {
    height: 100%;
    ul {
      padding: 0;
      width: 424px;
      max-height: 628px;
      overflow-y: scroll;
    }
    .pagination {
      bottom: 20px;
    }
  }
  .sensor-detail-chart {
    .chart-wrap {
      width: 563px;
    }
  }
}

.member {
  .card:nth-child(1) {
    .sensor-list {
      height: 620px;
    }
    .pagination {
      bottom: 80px;
    }
    .button-container {
      right: 30px;
      bottom: 20px;
    }
  }
}
