<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
	<title>인천지하철</title>
	<!-- 공용css -->
	<link rel="stylesheet" href="/resources/publish/css/loading.css">
	<link rel="stylesheet" href="/resources/publish/css/common.css">
</head>

<body>
	<article id="error">
		<div class="error-wrap">
			<div class="error-icon"></div>
			<div class="error-text">
				<h3>503</h3>
				<p>ERROR</p>
				<a href="/"><button class="home-btn">홈으로 돌아가기</button></a>
			</div>
		</div>
	</article>
</body>

</html>