<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<th:block th:replace="fragments/meta :: metaFragment(title='ICT-MypageInfo', useMetaCsrf='true')"></th:block>
	<th:block th:replace="fragments/style :: styleFragment"></th:block>
	<link rel="stylesheet" href="/resources/publish/css/mypage.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.css" />
</head>
<body>
	<th:block th:replace="fragments/header-member :: headerFragmentMember(menu='mypage')"></th:block>
    <main>
        <div class="wrap operator" id="mypage">
            <div class="card">
                <h3>내 정보</h3>
                <ul class="member-info">
                    <li>
                        <div class="input-box">
                            <p>회원 아이디</p>
                            <input id="memberId" type="text" class="custom" th:value="${myInfo.memberId}" readonly>
                        </div>
                    </li>
                    <li class="flex-between">
                        <div class="input-box">
                            <p><span style="color:red;">*</span> 회원 이름</p>
                            <input id="myInfoMemberName" type="text" class="custom" th:value="${myInfo.memberName}" readonly placeholder="회원 이름">
                        </div>
                        <div class="input-box">
                            <p>연락처</p>
                            <input id="myInfoMemberTel" type="text" class="custom" th:value="${myInfo.memberTel}" readonly placeholder="연락처 01012345678">
                        </div>
                        <div class="input-box">
                            <p>이메일 주소</p>
                            <input id="myInfoMemberEmail" type="text" class="custom" th:value="${myInfo.memberEmail}" readonly placeholder="이메일 주소">
                        </div>
                    </li>
                    <li class="flex-between">
                        <div class="input-box">
                            <p>부서</p>
                            <input id="myInfoMemberDeptName" type="text" class="custom" th:value="${myInfo.memberDeptName}" readonly placeholder="부서">
                        </div>
                        <div class="input-box">
                            <p>직책</p>
                            <input id="myInfoMemberRank" type="text" class="custom" th:value="${myInfo.memberRank}" readonly placeholder="직책">
                        </div>
                        <div class="input-box">
                            <p>등록 일자</p>
                            <input type="text" class="custom" th:value="${myInfo.memberCreateDateDt}" readonly>
                        </div>
                    </li>
                </ul>
                <div class="button-container flex">
                    <button id="myInfoModBtn" class="custom dark-blue" style="display: block;">내 정보 변경</button>
                    <button id="myInfoSaveBtn" class="custom dark-blue" style="display: none;">저장</button>
                    <button id="myInfocancel" class="custom gary" style="display: none;">취소</button>
                    <button id="myInfoPwdBtn" class="custom light-blue" >비밀번호 변경</button>
                </div>   
            </div>
        </div>
    </main>

	<article class="modal" id="pwdModal">
		<div class="modal-wrap">
			<div class="modal-head">
				<h2>비밀번호 변경</h2>
				<span class="close">
					<img src="/resources/publish/images/close.svg" alt="">
				</span>
			</div>
			<div class="modal-body">
				<ul class="member-info mb-50">
					<!--<li>
						<div class="input-box">
							<p>기존 비밀번호</p>
							<input id="" type="password" class="custom" value="">
						</div>
					</li>-->
					<li>
						<div class="input-box">
							<p>새 비밀번호</p>
							<input id="modPwd1" type="password" class="custom" value="" placeholder="새 비밀번호">
						</div>
					</li>
					<li>
						<div class="input-box id-check">
							<p>새 비밀번호 확인</p>
							<input id="modPwd2" type="password" class="custom" value="" placeholder="새 비밀번호 확인">
							<span  id="modPwdError" class="error" style="display: block;"></span>
						</div>
					</li>
				</ul>
				<div class="button-container">
					<button id="modPwdProcBtn" class="custom dark-blue">저장</button>
					<button id="modPwdCancelBtn" class="custom">취소</button>
					<!--<input type="hidden" id="modPwdMemberIdx" value="" readonly>-->
				</div>
			</div>
		</div>
	</article>
	
    <th:block th:replace="fragments/footer-member :: footerFragmentMember"></th:block>
</body>
	<th:block th:replace="fragments/script :: scriptFragment('true')"></th:block>
	<script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.4/dist/simple-notify.min.js"></script>
	<script th:src="@{/resources/ics/common/js/string.js}"></script>
	<script th:src="@{/resources/ics/common/js/regex.js}"></script>
	<script th:src="@{/resources/ics/member/js/memberMypageInfo.js}"></script>
</html>