<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ics.member.mypage.MemberMypageMapper">
	
	<select id="getMyInfo" parameterType="Integer" resultType="ics.member.mypage.dto.MyInfoResDTO">
	<![CDATA[
		select 
			  member.idx as 'memberIdx'
			, member.member_id as 'memberId'
			, ifnull(member.dept_name, '') as 'memberDeptName'
			, member.member_name as 'memberName'
			, ifnull(member.rank, '') as 'memberRank'
			, date_format(member.create_date, '%Y-%m-%d %H:%i:%s') as 'memberCreateDate'
			, ifnull(member.member_email, '') as 'memberEmail'
			, ifnull(member.member_tel, '') as 'memberTel'
		from member 
			where member.idx = #{memberIdx}	
	]]>
	</select>		
	
	<update id="myInfoModProc" parameterType="ics.member.mypage.dto.MyInfoModProcReqDTO">
	<![CDATA[
		update
			member
		set
			  member_name = #{memberName}
			, member_tel = #{memberTel}
			, member_email = #{memberEmail}
			, member.rank = #{memberRank}
			, dept_name = #{memberDeptName}		
		where
			member.idx = #{memberIdx}
	]]>
	</update>		

	<update id="myInfoPwdModProc" parameterType="ics.member.mypage.dto.MyInfoPwdModProcReqDTO">
	<![CDATA[
		update
			member
		set
			member_pw = #{encMemberPwd}
		where
			member.idx = #{memberIdx}
	]]>
	</update>		
	
</mapper>