<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
	<th:block th:replace="fragments/meta :: metaFragment(title='ICT-Main', useMetaCsrf='true')"></th:block>
	<th:block th:replace="fragments/style :: styleFragment"></th:block>
	<link rel="stylesheet" href="/resources/publish/css/main.css">
</head>
<body>
	<th:block th:replace="fragments/header-startupPark :: headerFragmentStartupPark(menu='main')"></th:block>
	<th:block th:replace="manager/main/inc/incheonAirport :: incheonAirport"></th:block>
	<th:block th:replace="manager/main/inc/busShelter :: busShelter"></th:block>
	<main>
		<div class="home wrap manager">
			<div class="card today">
				<h3>TODAY
					<span class='mainToday'>-</span></h3>
				<ul class="today-data">
					<li>
						<h5>센서</h5>
						<p class='mainSensorCnt'>-</p>
					</li>
					<li>
						<h5>회원사</h5>
						<p class='mainUserCnt'>-</p>
					</li>
					<li>
						<h5>서비스</h5>
						<p class='mainServiceCnt'>-</p>
					</li>
				</ul>
			</div>
			<div class="card sensor-take">
				<h3>센서정보 수신 상태</h3>
				<div class="flex-between">
					<div class="chart">
						<canvas width="110" height="128" id="hourData"></canvas>
						<span id="hourPercent">-</span>
					</div>
					<div class="chart">
						<canvas width="110" height="128" id="dayData"></canvas>
						<span id="dayPercent">-</span>
					</div>
				</div>
			</div>
			<div class="card alert">
				<h3>경고 현황12345ㅁㄴㅇㅁㄴㅇ</h3>
				<ul id="sensorWarnLog" class="text-list">
					<!--<li>임계치 초과 (현재 값 : 17408/ 임계치 : 4000)</li>-->
				</ul>
			</div>
			<div class="card sensing">
				<div class="flex-between">
					<h3>실시간 센싱 현황</h3>
					<div class="select" style="width: 155px !important;">
						<input id="sensingInput" type="text" class="custom" value="" readonly="readonly">
						<ul class="select-dropdown">
							<th:block th:each="list : ${sensorList}">
								<li th:data-sensor-idx="${list.sensorIdx}" th:data-sensor-location="${list.sensorLocation}" class='sensingLi'>[[${list.sensorLocation}]]</li>
							</th:block> 
							<!--<li>함체1</li>
							<li>함체2</li>
							<li>함체3</li>
							<li>함체4</li>
							<li>함체5</li>
							<li>함체6</li>-->
						</ul>
					</div>
	
				</div>
				<div class="chart">
					<canvas id="sensingChart" width="275" height="208"></canvas>
				</div>
			</div>
			<div class="card maps">
				<div class="startup-map-img"></div>
				<!-- 여기에 맵 이미지가 들어와야함 -->
			</div>
			<div class="card smartInfo">
				<div class="flex-between">
					<h3>옥외 POLE 정보</h3>
					<!--<div class="select">
						<input id="smartInfoInput" type="text" class="custom" value="" readonly="readonly">
						<ul class="select-dropdown">						
							<li>함체1</li>
							<li>함체2</li>
							<li>함체3</li>
							<li>함체4</li>
						</ul>
					</div>-->
				</div>
				<div id="smartInfoDiv" class="info-list">

				</div>
					<!--<li class="temp">
						<img src="/resources/publish/images/temp.png" alt="">
						<p>내부 온도: 10.5° ㅣ 외부 온도: 10.5°</p>
					</li>
					<li class="humi">
						<img src="/resources/publish/images/humi.png" alt="">
						<p>내부 습도: 99.9% ㅣ 외부 습도: 99.9%</p>
					</li>
					<li class="dust">
						<img src="/resources/publish/images/dust.png" alt="">
						<p>미세먼지: 100 ㎍/m³</p>
					</li>
					<li>
						<p>왼쪽 문: 열림 ㅣ 오른쪽 문: 닫힘</p>
					</li>
					<li>
						<p>이산화탄소: 90,000 ppm</p>
					</li>
					<li>
						<p>소음: 100 dB</p>
					</li>
					<li>
						<p>조도: 100 Lux</p>
					</li>
					<li>
						<p>진동: 100 mm/sec</p>
					</li>-->
				</ul>
			</div>
			<div class="card charts">
				<div>
					<div class="flex-between">
						<h3>센서별 현재 데이터</h3>
						<div class="select">
							<input id="chartInput" data-sensor-type-idx='2' type="text" class="custom" value="온도" readonly="readonly">
							<ul class="select-dropdown">
								<li data-sensor-type-idx='1' class='chartLi'>온도</li>
								<li data-sensor-type-idx='3' class='chartLi'>습도</li>
							</ul>
						</div>
					</div>
					<div class="chart">
						<canvas width="290" height="300" id="sensorNow"></canvas>
					</div>
				</div>
				<div>
					<h3>센서별 데이터 수집률</h3>
					<div class="chart">
						<canvas width="290" height="300" id="dataCheck"></canvas>
					</div>
				</div>
				<div>
					<h3>요일별 평균 데이터</h3>
					<div class="chart">
						<canvas id="weekData" width="430" height="306"></canvas>
					</div>
				</div>
			</div>
			<div class="card log">
				<h3>센싱 실시간 로그 데이터</h3>
				<ul id="sensorLog" class="text-list">
					<!--
					<li class="error">2021-12-13 (20:21) ㅣ 센서1 ㅣ 온도 23.5°(경고)</li>
					<li>2021-12-13 (20:21) ㅣ 센서1 ㅣ 온도 23.5°</li>
					-->
				</ul>
			</div>
			<!--<div class="card cctv">
				<h3>실시간 CCTV</h3>
				<div class="none">
					<canvas class="jsmpeg"></canvas>
				</div>
				<div class="none">
					<canvas class="jsmpeg"></canvas>
				</div>
			</div>-->
		</div>
	</main>
	
	<article class="modal" id="smartModal">
		<div class="modal-wrap">
			<div class="modal-head">
				<h2>스마트 함체 정보</h2>
				<span class="close">
					<img src="/resources/publish/images/close.svg" alt="">
				</span>
			</div>
			<div class="modal-body">
				<ul id="smartModalUl" class="tabs mb-20">
					<!--<li class="active" data-type=''>내부 온도</li>
					<li>외부 온도</li>
					<li>내부 습도</li>
					<li>외부 습도</li>
					<li>미세 먼지</li>
					<li>왼쪽 문</li>
					<li>오른쪽 문</li>
					<li>이산화탄소</li>
					<li>소음</li>
					<li>조도</li>
					<li>진동</li>-->
				</ul>
				<div class="sensor-data" id="smartModalData">
					<!--<table>
						<tr>
							<th>승인 일자</th>
							<td>2022-02-07 (14:58)</td>
						</tr>
						<tr>
							<th>센서 아이디</th>
							<td>00002ca7804606d1</td>
						</tr>
						<tr>
							<th>승인 종류</th>
							<td>함체 내부 온도</td>
						</tr>
						<tr>
							<th>회원사</th>
							<td>인천교통공사</td>
						</tr>
						<tr>
							<th>설치 위치</th>
							<td>인천대입구역</td>
						</tr>
						<tr>
							<th>승인 요청 시간</th>
							<td>2022-02-07 (14:58)</td>
						</tr>
						<tr class="green">
							<th>승인 시간</th>
							<td>2022-02-07 (14:58)</td>
						</tr>-->
					</table>
				</div>
			</div>
		</div>
	</article>
	
	<article class="modal" id="fireModal">
		<div class="modal-wrap">
			<div class="modal-head">
				<h2>화재 감지기 정보</h2>
				<span class="close">
					<img src="/resources/publish/images/close.svg" alt="">
				</span>
			</div>
			<div class="modal-body">
				<div class="sensor-data" id="fireModalData">
					<!--<table>
						<tr>
							<th>승인 일자</th>
							<td>2022-02-07 (14:58)</td>
						</tr>
						<tr>
							<th>센서 아이디</th>
							<td>00002ca7804606d1</td>
						</tr>
						<tr>
							<th>승인 종류</th>
							<td>함체 내부 온도</td>
						</tr>
						<tr>
							<th>회원사</th>
							<td>인천교통공사</td>
						</tr>
						<tr>
							<th>설치 위치</th>
							<td>인천대입구역</td>
						</tr>
						<tr>
							<th>승인 요청 시간</th>
							<td>2022-02-07 (14:58)</td>
						</tr>
						<tr class="green">
							<th>승인 시간</th>
							<td>2022-02-07 (14:58)</td>
						</tr>
					</table>-->
				</div>
			</div>
		</div>
	</article>

	<article class="modal" id="apModal">
		<div class="modal-wrap">
			<div class="modal-head">
				<h2>무선 AP 정보</h2>
				<span class="close">
					<img src="/resources/publish/images/close.svg" alt="">
				</span>
			</div>
			<div class="modal-body">
				<div class="sensor-data" id="apModalData">
					<!--<table>
						<tr>
							<th>승인 일자</th>
							<td>2022-02-07 (14:58)</td>
						</tr>
						<tr>
							<th>센서 아이디</th>
							<td>00002ca7804606d1</td>
						</tr>
						<tr>
							<th>승인 종류</th>
							<td>함체 내부 온도</td>
						</tr>
						<tr>
							<th>회원사</th>
							<td>인천교통공사</td>
						</tr>
						<tr>
							<th>설치 위치</th>
							<td>인천대입구역</td>
						</tr>
						<tr>
							<th>승인 요청 시간</th>
							<td>2022-02-07 (14:58)</td>
						</tr>
						<tr class="green">
							<th>승인 시간</th>
							<td>2022-02-07 (14:58)</td>
						</tr>
					</table>-->
				</div>
			</div>
		</div>
	</article>
	
	<th:block th:replace="fragments/footer-manager :: footerFragmentManager"></th:block>
</body>
	<th:block th:replace="fragments/script :: scriptFragment('true')"></th:block>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <!--<script src="https://jsmpeg.com/jsmpeg.min.js"></script>-->
    <script th:src="@{/resources/ics/common/js/string.js}"></script>
	<script th:src="@{/resources/ics/startupPark/js/startupParkMain.js}"></script>
	
	<script>
		$(function() {
			$(".startupPark").css("background-color", "rgba(255,192,0, 1)");
			$(".incheon").css("background-color", "rgba(255,255,255, 0.15)");
			$(".incheonAirport").css("background-color", "rgba(255,255,255, 0.15)");
			$(".busShelter").css("background-color", "rgba(255,255,255, 0.15)");
			$("#appDownBtn").hide();
			$("#manuDownBtn").hide();
		})
	</script>
</html>